#### 1)Find even or odd(Parity check)

In [11]:
a=int(input("Enter any number:"))
def EvenOdd(num):
    if(num%2==0):
        print(f"{num} is even.")
    else:
        print(f"{num} is odd")
EvenOdd(a)

Enter any number: 7

7 is odd

#### Parity Check without %2

In [63]:
a=int(input("Enter any number:"))
def parity(num):
    return "Even" if (num & 1) else "odd"     # num & 1 works because binary last bit shows even/odd
parity(a)

Enter any number: 5

'Even'

#### 2)Sum of digit of n(Without converting to string)

In [63]:
a=int(input("Enter any number:"))
sum=0                    # initiate sum to 0
while a>0:
    sum=sum+a%10         #take all digits one by one with a%10
    a=a//10              #new number by ignoring used number i.e using a//10
print(f"Total of digits of number is:",sum)

Enter any number: 123

Total of digits of number is: 6

In [57]:
def sum_digits_rec(n):
    n=abs(n)
    if n<10:            #if less than ten then it is already a single digit
        return n
    return n%10+sum_digits_rec(n//10)       #adds up the single digit with the prvious sum of digits

print(sum_digits_rec(12345))

15

#### 3)Maximum of three numbers

In [51]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
c=int(input("Enter third number:"))
def maximum(num1,num2,num3):
    if(num1>=num2 and num1>=num3):
        return num1
    elif(num2>=num1 and num2>=num3):
        return num2
    elif(num3>=num1 and num3>=num2):
        return num3
print("Largest number is:",maximum(a,b,c))

Enter first number: 3
Enter second number: 5
Enter third number: 2

Largest number is: 5

In [59]:
def max3(a,b,c):
    m=a                        #store one value to m
    if b>m: 
        m=b                    #if second value is greter than m then assign new value to m
    if c>m:
        m=c                    #same for number 3
    return m                   #return largest number
print(max3(3,5,7))

7

#### 4) Collatz sequence steps
---if even divide by 2  ----if odd 3n+1 ---count how many steps untill you reach 1

In [90]:
def collatz_steps(n,cap=100000):           #cap used to avoid risk of infinite loop
    steps=0
    while(n!=1 and steps<cap):
        n=n//2 if n%2==0 else 3*n+1
        steps+=1
    return steps if n==1  else -1           #it will give -1 only when steps reach to cap
print(collatz_steps(6))

8

In [92]:
def collatz_steps(n,cap=10):
    steps=0
    while(n!=1 and steps<cap):
        if n%2==0:
            n=n//2
        else:
            n=3*n+1
        steps+=1
    return steps if n==1  else -1
print(collatz_steps(7))

-1

#### 5) Count the number of vowels present in string

In [5]:
def countVowels(s):
    vowels="aeiouAEIOU"
    count=0
    for ch in s:              #iterate each character in string s
        if ch in vowels:      #if that character is vowel then increase counter
            count+=1
    return count

print(countVowels("Hello World"))
print(countVowels("Reshma"))

3
2

#### 6) Count digits in an integer

In [3]:
def countDigits(num):
    count=0
    while num>0:
        num=num//10      #it will gives new number after removing last digit
        count+=1
    return count

print(countDigits(1234))
print(countDigits(123456))

4
6

#### 7) Character frequency in string

In [30]:
def charFreqString(s):
    freq={}             #empty dictnory with key as character and numbers as values
    for ch in s.lower():
        if ch in freq:
            freq[ch]+=1
        else:
            freq[ch]=1
    return freq

print(charFreqString("Ahmad"))

{'a': 2, 'h': 1, 'm': 1, 'd': 1}

#### 8)Word frequency in sentance

In [38]:
def wordFreq(sent):
    freq={}                      #word as key and numbers as value
    words=sent.lower().split()          #seperate each word of sentance which is seperated by spaces and gives list of words
    for w in words:              #iterate through words i.e it will go to every element of list words
        if w in freq:            # if word already present then increment value
            freq[w]+=1
        else:                    #if not then intialize count
            freq[w]=1
    return freq


print(wordFreq("Good morning, its a very good day"))

{'good': 2, 'morning,': 1, 'its': 1, 'a': 1, 'very': 1, 'day': 1}

#### 9) highest frequency of character give character and its count

In [46]:
def highestFreqChar(s):
    freq={}
    max_count=0
    max_char=None
    for ch in s:
        if ch in freq:
            freq[ch]+=1
        else:
            freq[ch]=1
    for ch,count in freq.items():         #iterate from each item of dict i.e key and value ,, ch for key and count for value
        if count>max_count:
            max_char=ch
            max_count=count
    return max_char, max_count

print(highestFreqChar("banana"))

('a', 3)

#### 10) Reverse a number

In [87]:
def revNum(num):
    rev=0
    while(num>0):
        rev=rev*10+num%10       #formula
        num=num//10
    return rev

print(revNum(12345))

54321

#### 11) Check palindrom number

In [130]:
#Simple Logic

def palindrome(num):
    rev=0
    n=num
    while num>0:
        rev=rev*10+num%10
        num=num//10
    #return True ifrev==n else False
    return rev==n 
print(palindrome(123))
print(palindrome(12321))

False
True

In [146]:
#Using String Methods

def palindrome(num):
    rev=0
    n=str(num)
    if str(num)==n[::-1]:
        return True
    else:
        return False

print(palindrome(12321))
print(palindrome(121))
print(palindrome(123))
print(palindrome("reshmamhser"))
print(palindrome("abcba"))
print(palindrome("abcde"))

True
True
False
True
True
False

#### 12) Factorial Number

In [96]:
def factorial(num):
    fact=1
    for i in range(1,num+1,1):
        fact=fact*i
    return fact

print(factorial(10))

3628800

#### 13) Sum of digits of numbers

In [99]:
def sumOfDigits(num):
    sum=0
    while num>0:
        sum=sum+num%10
        num=num//10
    return sum

print(sumOfDigits(1234))

10

#### 14) Armstrong Number

In [120]:
#Simple Logic for three digit number

def armstrongNo(num):
    result=0
    n=num
    while num>0:
        result=result+(num%10)**3
        num=num//10
    return True if result==n else False

print(armstrongNo(153))

True

In [128]:
def armstrongNo(num):
    result=0;
    n=num
    power=len(str(num))
    while num>0:
        result=result+(num%10)**power
        num=num//10
    return True if result==n else False

print(armstrongNo(153))  
print(armstrongNo(9474))
print(armstrongNo(123))

True
True
False

#### 15) Print Square Pattern(Solid Square)

In [168]:
def printSquare(n):
    for i in range(n):
        for j in range(n):
            print("*",end=" ")     #by default end is "\n" so need to declare end=" " so that each output will display after each print statement
        print()                    #used to go next line after n columns

printSquare(3)
printSquare(5)

* * *
* * *
* * *
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

#### 16) Print Hallow Square

In [176]:
def printHallowSquare(n):
    for i in range(n):
        for j in range(n):
            if (i==0 or j==0 or i==n-1 or j==n-1):
                print("*",end=" ")
            else:
                print(" ",end=" ")
        print()

printHallowSquare(4)

* * * *
*     *
*     *
* * * *

#### 17) Right Triangle

In [226]:
def rightTriangle(n):
    for i in range(1,n+1,1):
        for j in range(i):         #number of star to print= row number
                print("*", end=" ")
        print()

rightTriangle(5)

*
* *
* * *
* * * *
* * * * *

In [305]:
def right_aligned_triangle(n):
    for i in range(1,n+1):
        spaces=" "*(n-1)
        stars="*"*i
        print(spaces+stars)
right_aligned_triangle(5)

    *
    **
    ***
    ****
    *****

#### 18) Inverted right angle

In [223]:
def invertedRightAngle(n):
    for i in range(n,0,-1):    #start from n goes to 0 with step diff -1
        for j in range(i):     #number of stars=row number
            print("*",end=" ")
        print()

invertedRightAngle(5)

* * * * *
* * * *
* * *
* *
*

#### 19) right aligned traingle

In [286]:
def rightAlignedTriangle(n):
    for i in range(n+1):
        for j in range(n+1,0,-1):
            if (j in range(i+1)):
                print("*",end=" ")
            else:
                print(" ",end=" ")
        print()

rightAlignedTriangle(5)

          *
        * *
      * * *
    * * * *
  * * * * *

In [307]:
def right_aligned_triangle(n):
    for i in range(1,n+1):
        spaces=" "*(n-i)
        stars="*"*i
        print(spaces+stars)
right_aligned_triangle(5)

    *
   **
  ***
 ****
*****

#### 20) inverted right aligned triangle

In [291]:
def invertedRightAlignedTriangle(n):
    for i in range(n+1,0,-1):
        for j in range(n+1,0,-1):
            if (j in range(i)):
                print("*",end=" ")
            else:
                print(" ",end=" ")
        print()

invertedRightAlignedTriangle(5)

  * * * * *
    * * * *
      * * *
        * *
          *

In [317]:
def inverted_right_aligned_triangle(n):
    for i in range(1,n+1):     #rows
        spaces=" "*i           #spaces before stars
        stars="*"*(n-i)        #stars decreasing
        print(spaces+stars)
inverted_right_aligned_triangle(5)

 ****
  ***
   **
    *

#### 21) Pyramid

In [325]:
def pyramid(n):
    for i in range(1,n+1):    #row start with 1
        spaces=" "*(n-i)      #decreases with each row
        stars="*"*(2*i-1)     #increases double with each row
        print(spaces+stars)

pyramid(5)

    *
   ***
  *****
 *******
*********

#### 22)Inverted pyramid

In [344]:
def inverted_pyramid(n):
    for i in range(n,0,-1):
        spaces=" "*(n-i)
        stars="*"*(2*i-1)
        print(spaces+stars)

inverted_pyramid(5)

*********
 *******
  *****
   ***
    *

#### 23)Diamond

In [351]:
def diamond(n):
    for i in range(1,n):
        spaces1=" "*(n-i)
        stars1="*"*(2*i-1)
        print(spaces1+stars1)
    for j in range(n,0,-1):
        spaces2=" "*(n-j)
        stars2="*"*(2*j-1)
        print(spaces2+stars2)

diamond(5)

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *